
  <!-- Icons Grid -->

  <!--

 
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="features-icons-item mx-auto mb-6 mb-lg-0 mb-lg-2">
            <div class="features-icons-icon d-flex">
              <i class="clickable-icon icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Web</h3>
            <p class="lead mb-0">Cliquez sur l'icone ci-dessus pour afficher les technologies utilisés pour le développement de site Web</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="features-icons-item mx-auto mb-6 mb-lg-0 mb-lg-2">
            <div class="features-icons-icon d-flex">
                <i class="clickable-icon icon-screen-smartphone m-auto text-primary"></i>
            </div>
            <h3>Application Mobile</h3>
            <p class="lead mb-0">Cliquez sur l'icone ci-dessus pour afficher les technologies utilisés pour les applications mobile</p>
          </div>
        </div>
   
      </div>
    </div>
  </section>

 -->

   <!-- Image Showcases -->
   <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">
          
 
            <div class="row no-gutters">
                <div class="col-lg-6 text-white showcase-img techno-logo-div-bckImg" style="background-image: url('assets/img/custom/logoWP.png');"></div>
                <div class="col-lg-6 my-auto showcase-text">
                  <h2>Wordpress</h2>
                  <p class="lead mb-0"> <b>Wordpress</b> est un outil idéal pour les sites des petites entreprises. Il permet d'administrer vous-mêmes votre site en l'alimentant d'articles
                    et en choisissant un thème qui correspondra à l'identité visuelle que vous souhaitez donner à ce dernier. Via l'utilisation de Woocommerce, la mise en place d'un site internet, que ça soit pour un e-commerce ou un site vitrine
                    devient un jeu d'enfant !
                  </p>
                </div>
              </div>
              
  
              <div class="col-lg-6 order-lg-2 text-white showcase-img techno-logo-div-bckImg" style="background-image: url('assets/img/custom/bootstrapLogo.png');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Bootstrap</h2>
            <p class="lead mb-0"><b>Bootstrap</b> est l'outil idéal pour donner un design élégant à votre site internet pour assoir une identité visuelle via votre thème sélectionné.
              Il permet de dessiner l'esthétique visuelle avec plus de souplesse que <b>Wordpress</b> par exemple. Les modifications du design d'un thème s'opérent plus facilement avec <b>Bootstrap</b> qu'avec <b>Wordpress</b>.
              <b>Bootstrap</b> conviendra donc davantage au client exigent et qui souhaite peauffiner l'aspect visuel de son site.
            </p>
          </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img techno-logo-div-bckImg" style="background-image: url('assets/img/custom/symfonyLogo.png');"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>Symfony</h2>
            <p class="lead mb-0"> <b>Symfony</b> est un ensemble de composants <b>PHP</b> ainsi qu'un framework MVC libre écrit en <b>PHP</b>. Il fournit des fonctionnalités modulables et adaptables qui permettent de faciliter et d’accélérer le développement d'un site web.
            </p>
          </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img techno-logo-div-bckImg" style="background-image: url('assets/img/custom/nodejsLogo.png');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>NodeJS</h2>
            <p class="lead mb-0"> <b>Node.js</b> est une plateforme logicielle libre et événementielle en <b>JavaScript</b> orientée vers les applications réseau qui doivent pouvoir monter en charge.
                Elle utilise la machine virtuelle V8 et implémente sous licence MIT les spécifications CommonJS.
              </p>
          </div>
        </div>

        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img techno-logo-div-bckImg" style="background-image: url('assets/img/custom/graphql.png');"></div>
            <div class="col-lg-6 my-auto showcase-text">
              <h2>GraphQL</h2>
              <p class="lead mb-0"><b>GraphQL</b> est un langage de requêtes développé en interne par Facebook en 2012 jusqu'à sa publication en 2015. Il propose une alternative aux API REST dont le stockage est éventuellement distribué. Il propose au client de formuler la structure de données dans la requête, tandis que cette même structure est retournée par le serveur. 
              </p>
            </div>
          </div>

          <div class="row no-gutters">
              <div class="col-lg-6 order-lg-2 text-white showcase-img techno-logo-div-bckImg" style="background-image: url('assets/img/custom/firebaseLogo.png');"></div>
              <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Firebase</h2>
                <p class="lead mb-0"> Chez <b>Miseo</b>, nous souhaitons
                    pouvoir donner la meilleur expérience client. Nous discutons de votre projet ensemble et nous vous conseillons des technologies adaptés à votre business. 
                    Que cela soit pour dans le cadre de votre projet ou pour du simple consulting.</p>
              </div>
            </div>

      </div>
    </section>



      <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="features-icons-item mx-auto mb-3 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="clickable-icon fab fa-html5 m-auto text-primary"></i>
              </div>
              <h3>HTML 5</h3>
              <p class="lead mb-0 languageDescriptionText"><b>HTML</b> est le langage de balisage conçu pour représenter les pages web. Il permet d’écrire de l’hypertexte pour structurer et mettre en forme le contenu des pages</p>          </div>
          </div>
          <div class="col-lg-3">
            <div class="features-icons-item mx-auto mb-3 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                  <i class="clickable-icon fab fa-css3-alt m-auto text-primary"></i>
              </div>
              <h3>CSS 3</h3>
              <p class="lead mb-0 languageDescriptionText">Les feuilles de style en cascade, appelées CSS de l'anglais <b>Cascading Style Sheets</b>, forment un langage informatique qui décrit la présentation des documents HTML</p>
            </div>
          </div>

          <div class="col-lg-3">
              <div class="features-icons-item mx-auto mb-3 mb-lg-0 mb-lg-3">
                <div class="features-icons-icon d-flex">
                    <i class="clickable-icon fab fa-js-square m-auto text-primary"></i>
                </div>
                <h3>JavaScript</h3>
                <p class="lead mb-0 languageDescriptionText"><b>JavaScript</b> est un langage de programmation de scripts principalement employé dans les pages web interactives mais aussi pour les serveurs avec l'utilisation (par exemple) de <b>NodeJS</b></p>
              </div>
            </div>

            <div class="col-lg-3">
                <div class="features-icons-item mx-auto mb-3 mb-lg-0 mb-lg-3">
                  <div class="features-icons-icon d-flex">
                      <i class="clickable-icon fab fa-angular m-auto text-primary"></i>
                  </div>
                  <h3>AngularJS</h3>
                  <p class="lead mb-0 languageDescriptionText"><b>AngularJS</b> est un framework <b>JavaScript</b> libre et open source développé par Google. Il permet de développer des pages web.</p>
                </div>
              </div>

     
        </div>
      </div>
    </section>
  

  <!--
  <section class="features-icons bg-light text-center">
 
  
      <ul class="list-inline" >
        <li class="list-inline-item list-inline-item-custom">
          <i class="fab fa-html5"></i>
        </li>
        <li class="list-inline-item list-inline-item-custom">
          <i class="fab fa-css3-alt"></i>
        </li>
        <li class="list-inline-item list-inline-item-custom">
          <i class="fab fa-js-square"></i>
        </li>
        <li class="list-inline-item list-inline-item-custom">
          <i class="fab fa-angular"></i>
        </li>
        <li class="list-inline-item list-inline-item-custom">
          <i class="fab fa-react"></i>
        </li>
        <li class="list-inline-item list-inline-item-custom">
          <i class="fab fa-node-js"></i>
        </li>
        <li class="list-inline-item list-inline-item-custom">
          <i class="fab fa-sass"></i>
        </li>
        <li class="list-inline-item list-inline-item-custom">
          <i class="fab fa-less"></i>
        </li>
        <li class="list-inline-item list-inline-item-custom">
          <i class="fab fa-wordpress"></i>
        </li>
        <li class="list-inline-item list-inline-item-custom">
          <i class="fab fa-gulp"></i>
        </li>
        <li class="list-inline-item list-inline-item-custom">
          <i class="fab fa-grunt"></i>
        </li>
        <li class="list-inline-item list-inline-item-custom">
          <i class="fab fa-npm"></i>
        </li>
      </ul>



  </section>
-->

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Vous êtes prêts? Commençons dès maintenant!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" placeholder="Saisissez votre email pour commencer">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Envoyer</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

<app-footer></app-footer>