<div class="container">

    <div *ngIf="devisService.step == 0" class="row" style="padding:10px">

        <div class="card centered" style="width: 17rem;margin-right: 10px">
            <img src="assets/img/devis/site-vitrine.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Site Vitrine</h5>
                <p class="card-text">Site vitrine responsive réalisé avec le
                    framework CSS Bootstrap. Idéal pour les sites vitrines
                    statiques.
                    Nous proposons différentes options additionnelles comme par
                    l'exemple la prise en charge CMS pour la gestion de contenu.
                </p>
                <p style="color:grey">
                    <b>PROMO ! </b>
                    <em class="card-text"> <small>Jusqu'au 01/10/2019</small></em></p>
                <p><b style="color:grey"> À partir de 99€</b> </p>

                <a (click)="startQuotation(0)" class="btn btn-lg btn-outline-primary btnChoiceQuotationMode">Devis en
                    ligne</a>
            </div>
        </div>

        <div class="card centered" style="width: 17rem;margin-right: 10px">
            <img src="assets/img/devis/eCommerce.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">E-Commerce</h5>
                <p class="card-text">Que cela soit pour un site vitrine ou un
                    E-Commerce avec WooCommerce, Wordpress est
                    la solution adaptée
                    pour les personnes souhaitant alimenter régulièrement leur
                    site d'articles et/ou de produits
                </p>
                <p style="color:grey">
                    <b>PROMO ! </b>
                    <em class="card-text"> <small>Jusqu'au 01/10/2019</small></em>
                </p>
                <p><b style="color:grey"> À partir de 299€</b> </p>

                <a (click)="startQuotation(1)" class="btn btn-lg btn-outline-primary btnChoiceQuotationMode">Devis en
                    ligne</a>
            </div>
        </div>

        <div class="card centered" style="width: 17rem;margin-right: 10px">
            <img src="assets/img/devis/webservice.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Application Web</h5>
                <p class="card-text">Vous souhaitez mettre en place une solution backend orientée Micro-service, via une
                    API Rest ou encore des solutions DevOps pour des applications existantes ? Nous proposons des offres
                    abordables pour les
                    particuliers comme pour les TPE / PME.
                </p>
                <p style="color:grey">

                    <p style="color:grey">
                        <b>PROMO ! </b>
                        <em class="card-text"> <small>Jusqu'au 01/10/2019</small></em>
                    </p>

                    <p><b style="color:grey"> À partir de 999€</b> </p>

                    <a (click)="startQuotation(2)" class="btn btn-lg btn-outline-primary btnChoiceQuotationMode">Devis
                        en ligne</a>
            </div>
        </div>

        <div class="card centered" style="width: 17rem;">
            <img src="assets/img/devis/applicationMobile.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Application Mobile</h5>
                <p class="card-text">Vous souhaitez lancer votre projet d'application mobile ? Il est temps de se lancer
                    ! Nous avons
                    toutes les clés en main pour concrétiser votre projet dès maintenant.
                </p>
                <p style="color:grey">
                    <b>PROMO ! </b>
                    <em class="card-text"> <small>Jusqu'au 01/10/2019</small></em>
                </p>

                <p><b style="color:grey"> À partir de 1299€</b> </p>

                <a (click)="startQuotation(3)" class="btn btn-lg btn-outline-primary btnChoiceQuotationMode">Devis en
                    ligne</a>
            </div>
        </div>





    </div>

    <!--


    
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
-->




    <ngbd-modal-basic></ngbd-modal-basic>



</div>