

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <!-- Osmosys -->

      <img style="width:50px"src="assets/img/logo/miseo.png" alt="">
      <a class="navbar-brand" routerLink="home">MISEO
      </a>

    
      <ul class="navbar-nav mr-auto list-group list-group-horizontal">
       
          <li class="nav-item">
            <a class="nav-link nav-link-custom active navbarMenuLink" routerLink="tech"><b class="">Technologies</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-custom navbarMenuLink" routerLink="services"><b class="">Services</b></a>
          </li>
          <li class="nav-item">
              <a class="nav-link nav-link-custom navbarMenuLink" routerLink="exemples"><b class="">Exemples</b></a>
          </li>
        </ul>
  
      

      <a class="btn btn-primary" routerLink="devis">Devis</a>

  


    </div>
  </nav>


<router-outlet></router-outlet>